/* .container {
    display: flex;
    align-items: center;
    height: 100vh;
} */
.login-main-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-container {
    width: 100%;
}
.login-form-1 {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.login-form-1 h3 {
    color: #333;
    text-align: center;
}
.login-form-2 {
    background: #0062cc;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
}
.login-form-2 h3 {
    color: #fff;
    text-align: center;
}
.login-container form {
    padding: 10%;
}
.btnSubmit {
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    padding: 1.5%;
    width: 50%;
}
.login-form-1 .btnSubmit {
    background-color: #0062cc;
    color: #fff;
}
.login-form-2 .btnSubmit {
    background-color: #fff;
    color: #0062cc;
}
.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
